name: Metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Ausaryu
          template: classic
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year